.App {
  text-align: center;
}

.App-header {
  background-color: #fc4a1a;
  padding: 20px;
  color: white;
  border-bottom: 2px solid white;
}

.App-intro {
  font-size: large;
}

.divBox {
    margin: 60px auto;
    background-color: #FFF;
    padding: 20px;
    width: 800px;
    height: 75vh;
    border-radius: 5px;
}

.mainContent {
  float: left;
  color: white;
  padding: 20px;
  text-align: center;
}

img {
  max-height: 300px;
  border: 2px solid white;
}

h1 {
  padding: 16px 0 0;
}

hr {
  height: 3px;
  border: none;
  background: #813772;
  margin-bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    
  .divBox {
    width: 300px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    
  .divBox {
    width: 420px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .divBox {
    width: 600px;
  }
}

